:root {
    //! Шрифты
    --font-family: "Circe", sans-serif;
    --second-family: "Plumb", sans-serif;
    //! Цвета
    --white: #fff;
    --gray: #E0E0E0;
    --dark: #000;
    //! Фон
    --red-bg: #F6404F;
    --blue-bg: #2378FC;
    --yellow-bg: #FFC41E;
    --lazur-bg: #30BCC9;
    --skin-bg: #FAF3E3;
  }